<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/02968119-355c-47c9-bb11-ab54f55ced94/resourcegroups/learn-eb1bdc03-fa79-4d08-8b94-b6e05c41aeba/providers/Microsoft.Web/sites/NetCoreCalculatorWithKeyVault</ResourceId>
    <ResourceGroup>learn-eb1bdc03-fa79-4d08-8b94-b6e05c41aeba</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://netcorecalculatorwithkeyvault.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>c132ca45-d2e7-4dd2-951b-b07f0ba9ad8b</ProjectGuid>
    <MSDeployServiceURL>netcorecalculatorwithkeyvault.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NetCoreCalculatorWithKeyVault</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NetCoreCalculatorWithKeyVault</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>