@{
    ViewData["Title"] = "Home Page";
}
<a class="btn-danger" asp-area="" asp-controller="Home" asp-action="NewObject">New Object Error</a><br />
<a class="btn-danger" asp-area="" asp-controller="Home" asp-action="ConditionStatement">Condition Statement Error</a><br />
<a class="btn-danger" asp-area="" asp-controller="Home" asp-action="ObjectInsideObject">Object Inside Object Error</a><br />
<a class="btn-danger" asp-area="" asp-controller="Home" asp-action="BoxedValue">Boxed Value Error</a><br />
<a class="btn-danger" asp-area="" asp-controller="Home" asp-action="AddInNullList">Add item In Null List Error</a>