@model NetCoreCalculator.Models.CompoundInterestModel

@{
    ViewData["Title"] = "Thiago Vivas";
}

<h2>Compound Interest Calculation</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompoundInterest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Investment" class="control-label"></label>
                <input asp-for="Investment" class="form-control" />
                <span asp-validation-for="Investment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePeriod" class="control-label"></label>
                <input asp-for="TimePeriod" class="form-control" />
                <span asp-validation-for="TimePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input disabled="disabled" asp-for="Result" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}