@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Charts" asp-action="Bar">Bar Chart</a><br />
<a asp-controller="Charts" asp-action="Line">Line Chart</a><br />
<a asp-controller="Charts" asp-action="Pie">Pie Chart</a><br />
<a asp-controller="Charts" asp-action="Stacked">Stacked Chart</a>