@model NetCoreDataAnnotation.Models.TripManager

@{
    ViewData["Title"] = "TripManagerSample";
}

<h2>TripManagerSample</h2>

<h4>TripManager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TripManagerSample">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelID" class="control-label"></label>
                <input asp-for="HotelID" class="form-control" />
                <span asp-validation-for="HotelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <input asp-for="CarID" class="form-control" />
                <span asp-validation-for="CarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
